.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1B232A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}
/* Анимация для иконки выхода */
/* Вставьте в ваш CSS файл, например, в index.css или в файл, который подключен глобально */
.icon-hover {
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-hover:hover {
  transform: scale(1.2);
}

.icon-hover.profile:hover {
  color: #1890ff; /* Цвет для иконки профиля при наведении */
}

.icon-hover.exit:hover {
  color: #ff4d4f; /* Цвет для иконки выхода при наведении */
}

.custom-header {
  background-color: #1B232A;
}

.ant-table-cell {
  text-align: center !important;
}

/* Изменение цвета текста вкладки при наведении */
.ant-tabs-tab:hover .ant-tabs-tab-btn {
  color: red !important; /* Красный цвет текста при наведении */
}
/* Стили для табов с классом custom-tabs */
.custom-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: red !important; /* Красный цвет текста активного таба */
}

.custom-tabs .ant-tabs-ink-bar {
  background-color: red !important; /* Красная полоса под активным табом */
}
/* Изменить цвет фона активной вкладки */
/* Изменение цвета подчеркивания активной вкладки */
.ant-tabs-ink-bar {
  background-color: red !important; /* Цвет подчеркивания активной вкладки */
}
/* Для кнопки DownloadButton */
/* Для кнопки DownloadButton */




.custom-download-btn {
  background-color: #1B232A;  /* Темный фон */
  color: white;                /* Белый текст */
  border: none;                /* Убираем рамку */
}

.custom-download-btn:hover {
  background-color: #f87171;  /* Красный фон при наведении */
}

/* Для кнопки "Добавить транспорт" */
.custom-add-transport-btn {
  background-color: #1B232A;  /* Темный фон */
  color: white;                /* Белый текст */
  border: none;                /* Убираем рамку */
}

.custom-add-transport-btn:hover {
  background-color: #f87171;  /* Красный фон при наведении */
}

/* Стили для вкладок */  /*это финальный варик для вкладки mainpage, и этих штук транспорт, ошибки и тд, это цвет */
.custom-tabs .ant-tabs-tab {
  color: #1b232a; /* Цвет текста для всех вкладок */
  
  transition: color 0.3s ease;
}

/* Активная вкладка */
.custom-tabs .ant-tabs-tab-active {
  color: red; /* Цвет текста активной вкладки */
}

/* При наведении */
.custom-tabs .ant-tabs-tab:hover {
  color: red; /* Цвет текста при наведении */
}
/* Стили для кнопки     ЭТО КНОПКИ ВО ВКЛАДКЕ ТРАНСПОРТ*/ 
.edit-button {
  transition: background-color 0.3s ease; /* Плавный переход фона */
}

.edit-button:hover {
  background-color: red !important; /* При наведении фон становится красным */
  border: none; /* Убираем синий контур при фокусе */
}
/* Стили для кнопки "Добавить транспорт"  ВОТ ЭТУ ШТУКУ ИСПОЛЬЗЗЖУЕМ В ГЛАВНЫХ СТРАНИЦАХ И ДОБАВИТЬ И ТАК ДАЛЕЕ СПРАВА СВЕРХУ*/
.add-transport-btn {
  
  background-color: #1B232a;
  transition: background-color 0.3s ease; /* Плавный переход фона */
}

.add-transport-btn:hover {
  background-color: red !important; /* При наведении фон становится красным */
  border: none; /* Убираем синий контур при фокусе */
}

/* Стили для кнопки "Скачать таблицу" */
.download-btn {
  background-color: #1B232A;
  transition: background-color 0.3s ease; /* Плавный переход фона */
}

.download-btn:hover {
  background-color: red !important; /* При наведении фон становится красным */
  border: none; /* Убираем синий контур при фокусе */
}

/* Для всех кнопок А КОНКРЕТНО КОГДА ТАЧКУ ВЫБИРАЕМ И ТАМ УЖЕ ПАРАМЕТРЫ ОШИБКИ И ТАК */
